.view-sedes{
    background-color:#00C18A ;
    padding: 1.2rem;
    border: 1px solid #00C18A;
    border-radius: 2rem;
    color: #ffffff;
    margin-bottom: 4rem;
    width: 45%;
    max-width: 45rem;
    font-weight: 100;
    font-size: 2rem;
    font-family: Anton ,sans-serif;

}
.close-icon{
    float: right;
    margin-right: 2rem;
    margin-top: 2rem;
}