.footer{
    display: flex;
    width: 100%;
    background-color: #B0DFCD;
    height: 12rem;
}
.footer div a{
    margin: auto 0;
}
.footer div a img {
    width: 5rem;
}
.footer .social-media{
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
    display: flex;
    gap: 4rem;
}