*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ROBOTO', sans-serif;
    text-decoration: none;
    color: #003C4D;
    font-weight: 600;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100%;
    background-color: #E2E2E2;
    display: flex;
    flex-direction: column;
    width: 100%;
}
