.menu-selected{
    border-radius: 2rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#menu-selected{
    display: flex;
}
.item-info{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    border-radius: 2rem;
    margin: 0 auto;

}
.item-info img{
    width: 100%;
    margin: 0 auto 0 auto;
    max-width: 65rem;
}
.item-contact{
    margin-bottom: 5rem;
    width: 100%;
}
.item-contact img{
    width: 100%;
    max-width: 12rem;
    margin-bottom: 1rem;
}
.item-info h3{
    font-size: 3rem;
    font-family: Anton ,sans-serif;
}
.item-info p{
    font-size: 1.4rem;
    text-align: center
}
.image-product{
    width: 10rem;
    display: grid;
    place-content: center;
    place-items: center;
    background-color: white;
}
.item-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.item-container div h2{
    font-size: 2.7rem;
}
iframe{
    margin: 0 auto;
}
.cuadro {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
}
.cuadrox{
    display: flex;
    flex-direction: column;
}
.cuadroy{
    display: flex;
    flex-direction: column;
}
.items{
    display: flex;
    flex-direction: column;
}
.icon p{
    text-align: center;
    color: #003C4D;
}
iframe{
    max-width: 98%;
}
.pdf iframe{
    height: 94vh;
    width: 100%;
    max-width: 150vw;
    margin: 0 auto;
}
